@{
    ViewData["Title"] = "Home Page";
}

<div style="width:auto; height:400px; padding-left:20px">
    <h1 style="font-size:70px; color:azure">
        Selamat Datang di Website Sistem Reservasi HOTEL ++
    </h1>
    <h4 style="color:aquamarine">
        Website ini berguna untuk Reservasi Hotel dengan Full Service ++
    </h4>
    <br />
    <button type="button" class="btn btn-primary">Learn More ></button>
</div>

<div class="row">


</div>
