@model UAS_20170140120_DeckyAprianto.Models.Makanan

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Makanan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMakanan" />
            <div class="form-group">
                <label asp-for="PaketMakanan" class="control-label"></label>
                <input asp-for="PaketMakanan" class="form-control" />
                <span asp-validation-for="PaketMakanan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HargaPermakanan" class="control-label"></label>
                <input asp-for="HargaPermakanan" class="form-control" />
                <span asp-validation-for="HargaPermakanan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

